{% extends "default.html" %}
{% block content %}
    <h1>List of papers</h1>
    {% for (year, papers) in papers_by_year %}
    <h2>{{ year }}</h2>
    <ol class="papers">
        {% for paper in papers %}
        <li data-lang="{{ paper.lang }}" data-kind="{{ paper.kind }}">
            <span class="title">{{ paper.title }}</span>
            <span class="authors">
            {% for author in paper.authors %}
                <span class="author">{{ author }}</span>
            {% endfor %}
            </span>
            <span class="links">
            {% for doi in paper.doi %}
            <a href="https://dx.doi.org/{{ doi }}">doi:{{ doi }}</a>
            {% endfor %}
            {% for arxiv in paper.arxiv %}
            <a href="https://arxiv.org/abs/{{ arxiv }}">arxiv:{{ arxiv }}</a>
            {% endfor %}
            {% for url in paper.url %}
            <a href="{{ url }}">{{ url }}</a>
            {% endfor %}
            {% for sha256 in paper.sha256 %}
            <a href="{{ root_url }}/sha256/{{ sha256 }}.html">sha256:{{ sha256[:10] }}</a>
            {% endfor %}
            </span>
            <details>
                <summary>BibTeX</summary>
                <pre><button onclick="copyEntry({{ loop.index }})">Copy</button><code>{{ paper.entry }}</code></pre>
            </details>
        </li>
        {% endfor %}
    </ol>
    {% endfor %}
{% endblock %}
